.header{
    height: 60px;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background:#422912;
    line-height: 60px; 
}
.header .title{
    text-align: center;
    color:#FFFFFF ;

}