.list-table{
    display: grid;
    grid-template-columns: repeat(2,calc(100%/2));
    margin: 15px auto;
    width: 85%;
}
@media (max-width:550px){
    .list-table{
        width:calc(100% - 20px);
    }
}
