<div class="list-table">
    <app-table-items [State]="Status"></app-table-items>
    <app-table-items [State]="Status2"></app-table-items>
    <app-table-items [State]="Status3"></app-table-items>
    <app-table-items [State]="Status"></app-table-items>
    <app-table-items [State]="Status2"></app-table-items>
    <app-table-items [State]="Status3"></app-table-items>
    <app-table-items [State]="Status"></app-table-items>
    <app-table-items [State]="Status2"></app-table-items>
    <app-table-items [State]="Status3"></app-table-items>
</div>

