
<!-- chuadat -->
<div class="item-table" *ngIf="State == 'chuadat'">
  <div class="top itemb">
    <span>TAB.2</span>
    <span class="available" >Available</span>
  </div>
  <div class="button-noOrder">
    <button class="title">Order</button>
  </div>
</div>
<!-- da ngoi-->
<div class="item-table bg-commom" *ngIf="State == 'dangoi'">
  <div class="top item">
    <span>TAB.4</span>
    <span class="title">Tuan</span>
  </div>
  <div class="bottom items">
    <div class="item">
        <span>3 Orders</span>
        <span class="ser">serviced</span>
    </div>  
    <div class="item">
        <span>1 New</span>
        <span>Preparing</span>
    </div>  
  </div>
</div>

<!-- dadat -->
<div class="item-table bg-commom" *ngIf="State == 'dadat'">
  <div class="top item">
    <span>TAB.1</span>
    <span class="title">Tuan</span>
  </div>
  <div class="bottom item">
    <span>3 Orders</span>
    <button class="button">Ready</button>
  </div>
</div>

