.item-table{
    height:140px;
    margin: 5px;
    border: 1px solid #949494;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    border-radius: 6px;

}
.bg-commom{
    background:#775333;

}
.item-table .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}   
.item-table .itemb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #422912;
}
.item-table .itemb .available{
    color: #FF8B10;
}
.item-table .top{
    padding: 5px;
    border-bottom: 1px solid #ffffff;
}
.item-table .top .title{
    background:#422912;
    color: #fefefe;
    border-radius: 188px;
    padding: 10px 15px;
    min-width:68px;
    min-height:25px;
}
.item-table .bottom .button{
    background: #F1FF2E;
    padding: 10px 15px;
    border: unset!important;
}
.item-table .button-noOrder{
    display: flex;
    align-items: center;
    justify-content: center;
}
.item-table .button-noOrder .title{
    background: #422912;
    color: #fefefe;
    padding: 5px 10px;
    border:0;
    border-radius: 251px;
    min-width: 81.7px;
    min-height: 31px;
}
.item-table .items .item{
    padding: 10px 0;
}
.item-table .items .item .ser{
    color: #C8B496;
}
