.footer{
    height: 60px;
    position: fixed;
    bottom: 0; 
    left: 0;
    width: 100%;
    background: #fafafa;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10%;
}
.footer .icon{
 
}
